.dash_board {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  .war {
    display: flex;
    width: 60%;
    gap: 10px;
  }

  .flower {
    width: 40%;
  }

  .content {
    padding: 6px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 90vh;
  }
  .ant-card-head {
    color: white;
  }
  .category-navy-blue .ant-card-head {
    background-color: #ef6565;
  }

  .category-coral .ant-card-head {
    background-color: #9DC183;
  }

  .category-mint .ant-card-head {
    background-color: #D3A297;
  }

  .category-lavender .ant-card-head {
    background-color: #87CEEB;
  }


  .button_content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

}